body{
  position: relative;
  min-height: 100vh;
  background-color: #F6F6F8;
  padding-top: 65px;
}



// main classes
  // .container-fluid{
  //   padding: 0;
  // }
a{
  text-decoration: none;
}

.secondary-btn{
  padding: 9px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: $w-semi-bold;
  color: $blue-color2;
  border: 1px solid $blue-color2;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba($color: $black-text, $alpha: 0.07);
  &.with-icon{
    img{
      width: 18px;
      height: 18px;
      margin-#{$start-direction}:10px ;
    }
  }
}

.white-card{
  background-color: #fff;
  border-radius: $raduis-normal;
  padding: 20px;
  padding-bottom: 35px;
  box-shadow: 0 1px 3px rgba($color: $black-text, $alpha: 0.07);
}




.side-nav-col , .content-col{
  padding: 0;
  position: relative;
}
.side-nav{
  // position: absolute;
  // #{$start-direction}:-305px;
  // top: 0;
  // width: 305px;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba($color: #131621, $alpha: 0.07);
  // padding-#{$end-direction}: 32px;
  display: grid;
  border-right: 1.5px solid #E8E9EB;

  // fixed position
  position: fixed;
  #{$start-direction}: 0;
  top: 0;
  width: inherit;
  z-index: 99;

  .top-sec{
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba($color: #131621, $alpha: 0.07);
    height: 65px;
    .logo{
      padding-top: 10px;
      padding-#{$start-direction}: 26px;
    }
  }

  .navigation{
    padding-#{$end-direction}: 32px;
    margin-top: -20px;
    align-self: flex-start;
    .navbar-nav{
      .nav-item{
        .nav-link{
          padding: 12px 0;
          padding-#{$start-direction}:26px ;
          border-radius: 0 8px 8px 0;
          background-color: transparent;
          position: relative;

          .icon-box{
            width: 24px;
            height: 24px;
            margin-#{$end-direction}:25px ;
            display: inline-block;
            img{
              width: 100%;
              height: 100%;
            }
          }
          span{
            font-size: 16px;
            font-weight: $w-medium;
            color: $black-text;
            transition: 300ms;
          }
          &.active{
            background-color: $blue-color2;
            .icon-box{
              img{
                filter: brightness(5);
              }
            }
            span{
              color: #fff;
            }
            .noti-number{

            }
          }

          .noti-number{
            width: 26px;
            height: 26px;
            background-color: #E5ECF9;
            color: $blue-color2 !important;
            font-size: 14px;
            font-weight: $w-medium;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            top: 11px;
            #{$end-direction}: 10px;
          }
        }
      }
    }
  }
  .footer{
    align-self: flex-end;
    padding-bottom: 60px;
    .actions{
      padding-#{$start-direction}: 26px;
      padding-#{$end-direction}: 32px;
      margin-bottom: 16px;
      > ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        margin: 0;
        li{
          // display: inline-block;
          a{
            font-size: 16px;
            font-weight: $w-normal;
            color: $black-text;
            height: 25px;
            border-#{$end-direction}: 1px solid #E2E4E6;
            display: flex;
            align-items: center;
            img{
              margin-#{$end-direction}: 8px;
            }
            &.logout , &.lang{
              padding-#{$end-direction}:20px ;
              margin-#{$end-direction}: 20px;
            }
          }

          .dropdown-toggle{
            border: none;
            img{
              margin: 0;
              width: 23px;
              height: 23px;
            }
            &::after{
              display: none;
            }
          }
          .dropdown-menu{
            padding: 13px 12px 20px;
            border: none;
            background-color: #fff;
            box-shadow: 0 2px 15px rgba($color: $black-text, $alpha: 0.12);
            min-width: 170px;
            .title{
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .icon{
                margin-#{$end-direction}: 8px;
                width: 16px;
                height: 16px;
                img{
                  width: 100%;
                  height: 100%;
                  vertical-align: top;
                }
              }
              span{
                font-size: 14px;
                font-weight: $w-semi-bold;
                line-height: 20px;
                color: $black-text;
                display: block;

              }
            }
            .dropdown-item{
              border: 0;
              font-size: 14px;
              font-weight: $w-normal;
              color: $black-text;
              margin-bottom: 9px;
              padding: 0;

              span{
                width: 16px;
                height: 16px;
                border: 2px solid $blue-color2;
                display: block;
                margin-#{$end-direction}: 10px;
                position: relative;
                border-radius: 50%;
              }




              &.disabled{
                opacity: .6;
                pointer-events: none;
                cursor: not-allowed;
              }
              &.selected{
                span{
                  &::after{
                    content: "";
                    position: absolute;
                    #{$start-direction}:2px;
                    top: 2px;
                    width: 8px;
                    height: 8px;
                    background-color: $blue-color2;
                    border-radius: 50%;
                  }
                }
              }
            }
            .dropdown-divider{
              border: 1px solid #E4E9F1;
              margin: 10px 0;
              opacity: 1;
            }
            &::after{
              content: "";
              position: absolute;
              width: 23px;
              height: 13px;
              background-image: url(../images/dropdown-Polygon.svg);
              background-repeat: no-repeat;
              background-size: contain;
              bottom: -10px;
              filter: drop-shadow(0px 2px 15px rgba($color: $black-text, $alpha: 0.12));
              opacity: .8;

            }
          }
        }
      }
    }
    .footer-data{
      padding-#{$start-direction}: 26px;
      border-top: 1px solid #E8E9EB;
      padding-top: 13px;
      .name{
        font-size: 14px;
        font-weight: $w-semi-bold;
        color: $blue-color2;
        line-height: 20px;
        margin-bottom: 3px;
      }
      .rights{
        font-size: 12px;
        font-weight: $w-normal;
        color: $grey-text;
      }
    }
  }
}

.side-nav.opened{
  #{$start-direction}:0;
  
}

.header{
  padding-#{$start-direction}: 16px;
  padding-#{$end-direction}: 30px;
  max-width: 100%;
  // max-width: calc(100% - 305px);
  // margin-#{$start-direction}: 305px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba($color: #131621, $alpha: 0.07);
  height: 65px;


    // fixed position
    position: fixed;
    #{$end-direction}: 0;
    top: 0;
    width: inherit;

  h3{
    font-size: 18px;
    font-weight: $w-semi-bold;
    color: $black-text;
    margin-bottom: 0;
  }
  .right-sec{
    display: flex;
    align-items: center;
    height: 100%;
    .setting{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 10px 20px;
      border-#{$start-direction}: 1px solid #E8E9EB;
    }
    .notifications{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 10px 20px;
      border-#{$start-direction}: 1px solid #E8E9EB;
      position: relative;
      span{
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: #E82536;
        color: #fff;
        font-size: 10px;
        #{$end-direction}:10px;
        top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
    }
    .user-section{
      display: flex;
      align-items: center;
      height: 100%;
      padding-#{$start-direction}: 16px;
      border-#{$start-direction}: 1px solid #E8E9EB;
      .user-dropdown{
        display: flex;
        align-items: center;
        height: 100%;
        border: 0;
        background-color: transparent;
        &::after{
          border: 0;
          background-image: url(../images/user-dropdown-arr.svg);
          width: 13px;
          height: 8px;
        }
      }
      .img-box{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-#{$end-direction}: 10px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .details{
        text-align: #{$start-direction};
        width: 140px;
        .name{
          font-size: 14px;
          font-weight: $w-semi-bold;
          color: $black-text;
          margin-bottom: 5px;
        }
        .title{
          font-size: 12px;
          color: $grey-text;
        }
      }
    }
  }
}


.content-sec{
  padding-#{$start-direction}: 40px;
  padding-#{$end-direction}: 25px;
  max-width: 100%;
  padding-bottom: 60px;
  // max-width: calc(100% - 305px);
  // margin-#{$start-direction}: 305px;
  .breadcrumb{
    margin-top: 35px;
    margin-bottom: 45px;
    .title{
      font-size: 40px;
      font-weight: $w-semi-bold;
      color: $black-text;
      
    }
  }
}


.cards-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
  .card{
    background-color: #fff;
    box-shadow: 0 2px 25px rgba($color: $black-text, $alpha: 0.07);
    display: flex;
    flex-direction: column;
    width: 345px;
    height: 170px;
    padding: 25px 38px 17px;
    border-radius: 0;
    border: 0;
    .name{
      font-size: 16px;
      font-weight: $w-medium;
      color: $black-text;
      margin-bottom: 15px;
    }
    .number-with-icon{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .num{
        font-size: 50px;
        font-weight: $w-semi-bold;
        line-height: 70px;
      }
      .icon-box{
        width: 60px;
        height: 60px;
        padding: 15px;
        border-radius: 50%;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .sec-details{
      p{
        font-size: 12px;
        color: $grey-text;
        span{
          font-weight: $w-medium;
          padding-#{$start-direction}: 13px;
          background-repeat: no-repeat;
          background-size: 10px;
          background-position: #{$start-direction} center;
          &.increase{
            color: #45BF55;
            background-image: url(../images/arr-up.svg);
          }
          &.decrease{
            color: #E82536;
            background-image: url(../images/arr-down.svg);
          }
        }
      }
    }




    &.card1{
      .number-with-icon{
        .num{
          color: $blue-color2;
        }
        .icon-box{
          background-color: #EAF1F8;
        }
      }
    }
    &.card2{
      .number-with-icon{
        .num{
          color: #6345C8;
        }
        .icon-box{
          background-color: #E0DBF2;
        }
      }
    }
    &.card3{
      .number-with-icon{
        .num{
          color: #45BF55;
        }
        .icon-box{
          background-color: #E3F8E5;
        }
      }
    }
    &.card4{
      .number-with-icon{
        .num{
          color: #F24D5B;
        }
        .icon-box{
          background-color: #FDE2E4;
        }
      }
    }
  }
}


.table-sec{

  .white-card{
    .top-sec{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 27px;
      h3{
        font-size: 25px;
        font-weight: $w-semi-bold;
        color: $black-text;
        margin-bottom: 0;
      }
    }

    .home-table{
      table{
        thead{
          border-bottom: 2px solid #E8EAF3;
          th{
            height: 54px;
            background-color: #F6F8FB;
            border: none;
            font-size: 16px;
            font-weight: $w-semi-bold;
            color: $blue-color;
            vertical-align: middle;
          }
        }
        tbody{
          th,td{
            font-size: 16px;
            color: $black-text;
            border: none;
            height: 54px;
            vertical-align: middle;

            .status{
              span{
                width: 8px;
                height: 8px;
                border-radius: 50%;
                margin-#{$end-direction}: 7px;
                display: inline-block;
                vertical-align: middle;
              }
              p{
                display: inline-block;
                font-size: 16px;
                font-weight: $w-normal;
                margin: 0;
              }

              &.new{
                p{
                  color: #3D87DD;
                }
                span{
                  background-color: #3D87DD;
                }
              }
              &.late{
                p{
                  color: #F24D5B;
                }
                span{
                  background-color: #F24D5B;
                }
              }
              &.done{
                p{
                  color: #44C055;
                }
                span{
                  background-color: #44C055;
                }
              }
              &.near{
                p{
                  color: #FF9D00;
                }
                span{
                  background-color: #FF9D00;
                }
              }
            }
          }
        }
      }

      .pagination{
        margin-bottom: 0;
        margin-top: 30px;
        li{
          
          .page-link{
            border: 0;
            padding: 0;
            font-size: 14px;
            font-weight: $w-normal;
            color: #98A1B4;
            width: 22px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            margin-#{$end-direction}: 2px;
            &.active{
              color: #fff;
              background-color: $blue-color2;
              width: 28px;
              font-weight: $w-semi-bold;
            }
          }

          &.page-first , &.page-last{
            .page-link{
              border: 1px solid #98A1B4;
              border-radius: 10px;
              height: 28px;
              width: 38px;
              background-color: transparent !important;

            }
          }
          &.page-first{
            margin-#{$end-direction}: 8px;
          }
          &.page-last{
            margin-#{$start-direction}: 8px;
          }
          &.prev-next {
            .page-link{
              width: auto;
              background-color: transparent !important;
            }
            &.prev{
              margin-#{$end-direction}: 45px;
            }
            &.next{
              margin-#{$start-direction}: 45px;
            }
          }
        }
      }
    }


    .search-sec{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;

      label{
        font-size: 15px;
        font-weight: $w-semi-bold;
        color: $black-text;
        margin-#{$end-direction}: 17px;
      }
      .form-control{
        font-size: 15px;
        font-weight: $w-normal;
        color: $grey-text;
        line-height: 23px;
        background-color: #F2F3F5;
        height: 44px;
        border: none;
        border-radius: 4px;
      }
      .search-box{
        display: flex;
        align-items: center;
        margin-#{$end-direction}: 35px;
        .search-input{
          width: 270px;
          background-image: url(../images/Icons-Actions-ic-actions-search.svg);
          background-repeat: no-repeat;
          background-position: 95% center ;
          padding-right: 35px;
        }
      }
      .select-box{
        display: flex;
        align-items: center;
        margin-#{$end-direction}: 35px;

        select{
          width: 240px;
          background-image: url(../images/Icons-Chevron-ic-chevron-down.svg);
          background-size: 25px;
          padding-right: 35px;
        }
      }
    }
  }
  .table-striped>tbody>tr:nth-of-type(odd){
    --bs-table-accent-bg: #fff
  }
  .table-striped>tbody>tr:nth-of-type(even){
    --bs-table-accent-bg: #F5F5F9
  }
}



.form-sec{
  .white-card{
    padding: 30px 30px 40px;
    margin-top: 40px;
    .top-sec{
      margin-bottom: 47px;
      h3{
        font-size: 25px;
        font-weight: $w-semi-bold;
        color: $black-text;
        margin-bottom: 0;
      }
    }
  }
}