/*** RTL websites ***/
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

body {
  font-family: "Poppins";
  direction: rtl;
  text-align: right;
}

html[dir="rtl"] body {
  font-family: "Poppins";
}

*,
*:focus,
*:active,
button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.strong {
  font-weight: bold;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.mb-35 {
  margin-bottom: 35px;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: #F6F6F8;
  padding-top: 65px;
}

a {
  text-decoration: none;
}

.primary-btn {
  padding: 12px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #0B6DDE;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(17, 17, 17, 0.07);
          box-shadow: 0 1px 3px rgba(17, 17, 17, 0.07);
}

.secondary-btn {
  padding: 9px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #0B6DDE;
  border: 1px solid #0B6DDE;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(17, 17, 17, 0.07);
          box-shadow: 0 1px 3px rgba(17, 17, 17, 0.07);
}

.secondary-btn.with-icon img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.white-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: 0 1px 3px rgba(17, 17, 17, 0.07);
          box-shadow: 0 1px 3px rgba(17, 17, 17, 0.07);
}

.side-nav-col, .content-col {
  padding: 0;
  position: relative;
}

.side-nav {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 10px rgba(19, 22, 33, 0.07);
          box-shadow: 1px 1px 10px rgba(19, 22, 33, 0.07);
  display: -ms-grid;
  display: grid;
  border-right: 1.5px solid #E8E9EB;
  position: fixed;
  right: 0;
  top: 0;
  width: inherit;
  z-index: 99;
}

.side-nav .top-sec {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 10px rgba(19, 22, 33, 0.07);
          box-shadow: 1px 1px 10px rgba(19, 22, 33, 0.07);
  height: 65px;
}

.side-nav .top-sec .logo {
  padding-top: 10px;
  padding-right: 26px;
}

.side-nav .navigation {
  padding-left: 32px;
  margin-top: -20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.side-nav .navigation .navbar-nav .nav-item .nav-link {
  padding: 12px 0;
  padding-right: 26px;
  border-radius: 0 8px 8px 0;
  background-color: transparent;
  position: relative;
}

.side-nav .navigation .navbar-nav .nav-item .nav-link .icon-box {
  width: 24px;
  height: 24px;
  margin-left: 25px;
  display: inline-block;
}

.side-nav .navigation .navbar-nav .nav-item .nav-link .icon-box img {
  width: 100%;
  height: 100%;
}

.side-nav .navigation .navbar-nav .nav-item .nav-link span {
  font-size: 16px;
  font-weight: 500;
  color: #111111;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.side-nav .navigation .navbar-nav .nav-item .nav-link.active {
  background-color: #0B6DDE;
}

.side-nav .navigation .navbar-nav .nav-item .nav-link.active .icon-box img {
  -webkit-filter: brightness(5);
          filter: brightness(5);
}

.side-nav .navigation .navbar-nav .nav-item .nav-link.active span {
  color: #fff;
}

.side-nav .navigation .navbar-nav .nav-item .nav-link .noti-number {
  width: 26px;
  height: 26px;
  background-color: #E5ECF9;
  color: #0B6DDE !important;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: 10px;
}

.side-nav .footer {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 60px;
}

.side-nav .footer .actions {
  padding-right: 26px;
  padding-left: 32px;
  margin-bottom: 16px;
}

.side-nav .footer .actions > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.side-nav .footer .actions > ul li a {
  font-size: 16px;
  font-weight: 400;
  color: #111111;
  height: 25px;
  border-left: 1px solid #E2E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-nav .footer .actions > ul li a img {
  margin-left: 8px;
}

.side-nav .footer .actions > ul li a.logout, .side-nav .footer .actions > ul li a.lang {
  padding-left: 20px;
  margin-left: 20px;
}

.side-nav .footer .actions > ul li .dropdown-toggle {
  border: none;
}

.side-nav .footer .actions > ul li .dropdown-toggle img {
  margin: 0;
  width: 23px;
  height: 23px;
}

.side-nav .footer .actions > ul li .dropdown-toggle::after {
  display: none;
}

.side-nav .footer .actions > ul li .dropdown-menu {
  padding: 13px 12px 20px;
  border: none;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 15px rgba(17, 17, 17, 0.12);
          box-shadow: 0 2px 15px rgba(17, 17, 17, 0.12);
  min-width: 170px;
}

.side-nav .footer .actions > ul li .dropdown-menu .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-nav .footer .actions > ul li .dropdown-menu .title .icon {
  margin-left: 8px;
  width: 16px;
  height: 16px;
}

.side-nav .footer .actions > ul li .dropdown-menu .title .icon img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.side-nav .footer .actions > ul li .dropdown-menu .title span {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #111111;
  display: block;
}

.side-nav .footer .actions > ul li .dropdown-menu .dropdown-item {
  border: 0;
  font-size: 14px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 9px;
  padding: 0;
}

.side-nav .footer .actions > ul li .dropdown-menu .dropdown-item span {
  width: 16px;
  height: 16px;
  border: 2px solid #0B6DDE;
  display: block;
  margin-left: 10px;
  position: relative;
  border-radius: 50%;
}

.side-nav .footer .actions > ul li .dropdown-menu .dropdown-item.disabled {
  opacity: .6;
  pointer-events: none;
  cursor: not-allowed;
}

.side-nav .footer .actions > ul li .dropdown-menu .dropdown-item.selected span::after {
  content: "";
  position: absolute;
  right: 2px;
  top: 2px;
  width: 8px;
  height: 8px;
  background-color: #0B6DDE;
  border-radius: 50%;
}

.side-nav .footer .actions > ul li .dropdown-menu .dropdown-divider {
  border: 1px solid #E4E9F1;
  margin: 10px 0;
  opacity: 1;
}

.side-nav .footer .actions > ul li .dropdown-menu::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 13px;
  background-image: url(../images/dropdown-Polygon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -10px;
  -webkit-filter: drop-shadow(0px 2px 15px rgba(17, 17, 17, 0.12));
          filter: drop-shadow(0px 2px 15px rgba(17, 17, 17, 0.12));
  opacity: .8;
}

.side-nav .footer .footer-data {
  padding-right: 26px;
  border-top: 1px solid #E8E9EB;
  padding-top: 13px;
}

.side-nav .footer .footer-data .name {
  font-size: 14px;
  font-weight: 600;
  color: #0B6DDE;
  line-height: 20px;
  margin-bottom: 3px;
}

.side-nav .footer .footer-data .rights {
  font-size: 12px;
  font-weight: 400;
  color: #888888;
}

.side-nav.opened {
  right: 0;
}

.header {
  padding-right: 16px;
  padding-left: 30px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 10px rgba(19, 22, 33, 0.07);
          box-shadow: 1px 1px 10px rgba(19, 22, 33, 0.07);
  height: 65px;
  position: fixed;
  left: 0;
  top: 0;
  width: inherit;
  z-index: 999;
}

.header h3 {
  font-size: 18px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 0;
}

.header .right-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header .right-sec .setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 10px 20px;
  border-right: 1px solid #E8E9EB;
}

.header .right-sec .notifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 10px 20px;
  border-right: 1px solid #E8E9EB;
  position: relative;
}

.header .right-sec .notifications span {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #E82536;
  color: #fff;
  font-size: 10px;
  left: 10px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.header .right-sec .user-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-right: 16px;
  border-right: 1px solid #E8E9EB;
}

.header .right-sec .user-section .user-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border: 0;
  background-color: transparent;
}

.header .right-sec .user-section .user-dropdown::after {
  border: 0;
  background-image: url(../images/user-dropdown-arr.svg);
  width: 13px;
  height: 8px;
}

.header .right-sec .user-section .img-box {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-left: 10px;
}

.header .right-sec .user-section .img-box img {
  width: 100%;
  height: 100%;
}

.header .right-sec .user-section .details {
  text-align: right;
  width: 140px;
}

.header .right-sec .user-section .details .name {
  font-size: 14px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 5px;
}

.header .right-sec .user-section .details .title {
  font-size: 12px;
  color: #888888;
}

.content-sec {
  padding-right: 40px;
  padding-left: 25px;
  max-width: 100%;
  padding-bottom: 60px;
}

.content-sec .breadcrumb {
  margin-top: 35px;
  margin-bottom: 45px;
}

.content-sec .breadcrumb .title {
  font-size: 40px;
  font-weight: 600;
  color: #111111;
}

.cards-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}

.cards-section .card {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 25px rgba(17, 17, 17, 0.07);
          box-shadow: 0 2px 25px rgba(17, 17, 17, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 345px;
  height: 170px;
  padding: 25px 38px 17px;
  border-radius: 0;
  border: 0;
}

.cards-section .card .name {
  font-size: 16px;
  font-weight: 500;
  color: #111111;
  margin-bottom: 15px;
}

.cards-section .card .number-with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-section .card .number-with-icon .num {
  font-size: 50px;
  font-weight: 600;
  line-height: 70px;
}

.cards-section .card .number-with-icon .icon-box {
  width: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 50%;
}

.cards-section .card .number-with-icon .icon-box img {
  width: 100%;
  height: 100%;
}

.cards-section .card .sec-details p {
  font-size: 12px;
  color: #888888;
}

.cards-section .card .sec-details p span {
  font-weight: 500;
  padding-right: 13px;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right center;
}

.cards-section .card .sec-details p span.increase {
  color: #45BF55;
  background-image: url(../images/arr-up.svg);
}

.cards-section .card .sec-details p span.decrease {
  color: #E82536;
  background-image: url(../images/arr-down.svg);
}

.cards-section .card.card1 .number-with-icon .num {
  color: #0B6DDE;
}

.cards-section .card.card1 .number-with-icon .icon-box {
  background-color: #EAF1F8;
}

.cards-section .card.card2 .number-with-icon .num {
  color: #6345C8;
}

.cards-section .card.card2 .number-with-icon .icon-box {
  background-color: #E0DBF2;
}

.cards-section .card.card3 .number-with-icon .num {
  color: #45BF55;
}

.cards-section .card.card3 .number-with-icon .icon-box {
  background-color: #E3F8E5;
}

.cards-section .card.card4 .number-with-icon .num {
  color: #F24D5B;
}

.cards-section .card.card4 .number-with-icon .icon-box {
  background-color: #FDE2E4;
}

.table-sec .white-card .top-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}

.table-sec .white-card .top-sec h3 {
  font-size: 25px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 0;
}

.table-sec .white-card .home-table table thead {
  border-bottom: 2px solid #E8EAF3;
}

.table-sec .white-card .home-table table thead th {
  height: 54px;
  background-color: #F6F8FB;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #0E58AE;
  vertical-align: middle;
}

.table-sec .white-card .home-table table tbody th, .table-sec .white-card .home-table table tbody td {
  font-size: 16px;
  color: #111111;
  border: none;
  height: 54px;
  vertical-align: middle;
}

.table-sec .white-card .home-table table tbody th .status span, .table-sec .white-card .home-table table tbody td .status span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 7px;
  display: inline-block;
  vertical-align: middle;
}

.table-sec .white-card .home-table table tbody th .status p, .table-sec .white-card .home-table table tbody td .status p {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.table-sec .white-card .home-table table tbody th .status.new p, .table-sec .white-card .home-table table tbody td .status.new p {
  color: #3D87DD;
}

.table-sec .white-card .home-table table tbody th .status.new span, .table-sec .white-card .home-table table tbody td .status.new span {
  background-color: #3D87DD;
}

.table-sec .white-card .home-table table tbody th .status.late p, .table-sec .white-card .home-table table tbody td .status.late p {
  color: #F24D5B;
}

.table-sec .white-card .home-table table tbody th .status.late span, .table-sec .white-card .home-table table tbody td .status.late span {
  background-color: #F24D5B;
}

.table-sec .white-card .home-table table tbody th .status.done p, .table-sec .white-card .home-table table tbody td .status.done p {
  color: #44C055;
}

.table-sec .white-card .home-table table tbody th .status.done span, .table-sec .white-card .home-table table tbody td .status.done span {
  background-color: #44C055;
}

.table-sec .white-card .home-table table tbody th .status.near p, .table-sec .white-card .home-table table tbody td .status.near p {
  color: #FF9D00;
}

.table-sec .white-card .home-table table tbody th .status.near span, .table-sec .white-card .home-table table tbody td .status.near span {
  background-color: #FF9D00;
}

.table-sec .white-card .home-table .pagination {
  margin-bottom: 0;
  margin-top: 30px;
}

.table-sec .white-card .home-table .pagination li .page-link {
  border: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #98A1B4;
  width: 22px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  margin-left: 2px;
}

.table-sec .white-card .home-table .pagination li .page-link.active {
  color: #fff;
  background-color: #0B6DDE;
  width: 28px;
  font-weight: 600;
}

.table-sec .white-card .home-table .pagination li.page-first .page-link, .table-sec .white-card .home-table .pagination li.page-last .page-link {
  border: 1px solid #98A1B4;
  border-radius: 10px;
  height: 28px;
  width: 38px;
  background-color: transparent !important;
}

.table-sec .white-card .home-table .pagination li.page-first {
  margin-left: 8px;
}

.table-sec .white-card .home-table .pagination li.page-last {
  margin-right: 8px;
}

.table-sec .white-card .home-table .pagination li.prev-next .page-link {
  width: auto;
  background-color: transparent !important;
}

.table-sec .white-card .home-table .pagination li.prev-next.prev {
  margin-left: 45px;
}

.table-sec .white-card .home-table .pagination li.prev-next.next {
  margin-right: 45px;
}

.table-sec .white-card .search-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}

.table-sec .white-card .search-sec label {
  font-size: 15px;
  font-weight: 600;
  color: #111111;
  margin-left: 17px;
}

.table-sec .white-card .search-sec .form-control {
  font-size: 15px;
  font-weight: 400;
  color: #888888;
  line-height: 23px;
  background-color: #F2F3F5;
  height: 44px;
  border: none;
  border-radius: 4px;
}

.table-sec .white-card .search-sec .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 35px;
}

.table-sec .white-card .search-sec .search-box .search-input {
  width: 270px;
  background-image: url(../images/Icons-Actions-ic-actions-search.svg);
  background-repeat: no-repeat;
  background-position: 95% center;
  padding-right: 35px;
}

.table-sec .white-card .search-sec .select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 35px;
}

.table-sec .white-card .search-sec .select-box select {
  width: 240px;
  background-image: url(../images/Icons-Chevron-ic-chevron-down.svg);
  background-size: 25px;
  padding-right: 35px;
}

.table-sec .table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: #fff
  ;
}

.table-sec .table-striped > tbody > tr:nth-of-type(even) {
  --bs-table-accent-bg: #F5F5F9
  ;
}

.form-sec .white-card {
  padding: 30px 30px 40px;
  margin-top: 40px;
}

.form-sec .white-card .top-sec {
  margin-bottom: 47px;
}

.form-sec .white-card .top-sec h3 {
  font-size: 25px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 0;
}

.form-sec .white-card .form .row .col-lg-6:nth-child(odd) {
  padding-left: 27px;
}

.form-sec .white-card .form .row .col-lg-6:nth-child(even) {
  padding-right: 27px;
}

form label {
  font-size: 14px;
  font-weight: 600;
  color: #111111;
  line-height: 20px;
  margin-bottom: 5px !important;
}

form label.required {
  position: relative;
}

form label.required::after {
  content: "*";
  margin-right: 5px;
  color: #C41D2C;
}

form .form-control {
  font-size: 16px;
  font-weight: 400;
  color: #888888;
  line-height: 23px;
  background-color: #fff;
  height: 48px;
  border: 2px solid #CDD1D9 !important;
  border-radius: 4px;
  padding: 13px 16px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

form .form-control:disabled, form .form-control[readonly] {
  background-color: #E9E9E9;
  color: #BCBCBC;
}

form .form-control[type="date"] {
  position: relative;
  padding-left: 35px;
}

form .form-control[type="date"]::-webkit-calendar-picker-indicator {
  background: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

form .form-control[type="date"]:before {
  content: "";
  color: transparent;
  background: none;
  display: block;
  background-image: url(../images/calendar.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /* This is the calendar icon in FontAwesome */
  width: 18px;
  height: 20px;
  position: absolute;
  top: 12px;
  left: 12px;
}

form select.form-select {
  background-image: url(../images/Icons-Chevron-ic-chevron-down.svg);
  background-size: 25px;
  padding-left: 35px !important;
  font-size: 16px;
  font-weight: 400;
  color: #888888;
  line-height: 23px;
  background-color: #fff;
  height: 48px;
  border: 2px solid #CDD1D9 !important;
  border-radius: 4px;
  padding: 13px 16px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

form textarea.form-control {
  height: auto;
}

form .primary-btn {
  margin-bottom: 25px;
}

form .radio-check .form-check {
  display: block;
  position: relative;
  height: 26px;
  padding-right: 22px;
  margin-bottom: 7px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 8px;
}

form .radio-check .form-check label {
  margin-bottom: 0 !important;
}

form .radio-check .form-check label::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 0;
  height: 16px;
  width: 16px;
  border: 2px solid #0B6DDE;
  border-radius: 50%;
  background-color: transparent;
}

form .radio-check .form-check label::after {
  content: "";
  position: absolute;
  display: none;
  right: 4px;
  top: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0B6DDE;
}

form .radio-check .form-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

form .radio-check .form-check input:checked ~ label::after {
  display: block;
}

form .radio-check .form-check-inline {
  display: inline-block;
  margin-left: 60px;
}

form .checkBox-check .form-check {
  display: block;
  position: relative;
  height: 28px;
  padding-right: 28px;
  margin-bottom: 7px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

form .checkBox-check .form-check label {
  margin-bottom: 0 !important;
}

form .checkBox-check .form-check label::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 0;
  height: 20px;
  width: 20px;
  border: 2px solid #0B6DDE;
  background-color: transparent;
}

form .checkBox-check .form-check label::after {
  content: "";
  position: absolute;
  display: none;
  right: 7px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid #0B6DDE;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

form .checkBox-check .form-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

form .checkBox-check .form-check input:checked ~ label::after {
  display: block;
}

.modal-content {
  border: 0;
  border-radius: 12px;
  -webkit-box-shadow: 0 2px 24px rgba(17, 17, 17, 0.15);
          box-shadow: 0 2px 24px rgba(17, 17, 17, 0.15);
}

.modal-body {
  padding-top: 30px;
  padding-bottom: 25px;
}

.modal-body .closeModal {
  position: absolute;
  top: 8px;
  left: 11px;
  border: 0;
  background: transparent;
}

.modal-body .success-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-body .success-content .img-box {
  margin-bottom: 20px;
}

.modal-body .success-content .content-box h4 {
  font-size: 14px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 0;
}

@media (min-width: 1400px) {
  .container, .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1640px;
  }
}
/*# sourceMappingURL=styleRTL.css.map */