/*** LTR websites ***/
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

body {
  font-family: "Poppins";
  direction: ltr;
  text-align: left;
}

html[dir="rtl"] body {
  font-family: "Poppins";
}

*,
*:focus,
*:active,
button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.strong {
  font-weight: bold;
}

.text-left {
  text-align: right !important;
}

.text-right {
  text-align: left !important;
}

.float-left {
  float: right !important;
}

.float-right {
  float: left !important;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-60 {
  margin-top: 60px;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: #F6F6F8;
  padding-top: 65px;
}

body.login-body {
  background-color: #F3F3F5;
}

a {
  text-decoration: none;
}

.primary-btn {
  padding: 12px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff !important;
  background-color: #0B6DDE;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(17, 17, 17, 0.07);
          box-shadow: 0 1px 3px rgba(17, 17, 17, 0.07);
}

.primary-btn.with-icon img {
  width: 18px;
  height: 18px;
  margin-left: 10px;
}

.secondary-btn {
  padding: 9px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #0B6DDE !important;
  border: 1px solid #0B6DDE;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(17, 17, 17, 0.07);
          box-shadow: 0 1px 3px rgba(17, 17, 17, 0.07);
}

.secondary-btn.with-icon img {
  width: 18px;
  height: 18px;
  margin-left: 10px;
}

.edit-btn {
  padding: 13px 13px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #0B6DDE !important;
  border: none;
  background-color: #F2F6FF;
  border-radius: 4px;
}

.edit-btn.with-icon img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.regular-a {
  font-size: 16px;
  font-weight: 600;
  color: #0B6DDE !important;
  text-decoration: underline !important;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  padding: 13px 24px 12px;
}

.white-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: 0 1px 3px rgba(17, 17, 17, 0.07);
          box-shadow: 0 1px 3px rgba(17, 17, 17, 0.07);
}

.side-nav-col, .content-col {
  padding: 0;
  position: relative;
}

.side-nav {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 10px rgba(19, 22, 33, 0.07);
          box-shadow: 1px 1px 10px rgba(19, 22, 33, 0.07);
  display: -ms-grid;
  display: grid;
  border-right: 1.5px solid #E8E9EB;
  position: fixed;
  left: 0;
  top: 0;
  width: inherit;
  z-index: 99;
}

.side-nav .top-sec {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 10px rgba(19, 22, 33, 0.07);
          box-shadow: 1px 1px 10px rgba(19, 22, 33, 0.07);
  height: 65px;
}

.side-nav .top-sec .logo {
  padding-top: 10px;
  padding-left: 26px;
}

.side-nav .navigation {
  padding-right: 32px;
  margin-top: -20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.side-nav .navigation .navbar-nav .nav-item .nav-link {
  padding: 12px 0;
  padding-left: 26px;
  border-radius: 0 8px 8px 0;
  background-color: transparent;
  position: relative;
}

.side-nav .navigation .navbar-nav .nav-item .nav-link .icon-box {
  width: 24px;
  height: 24px;
  margin-right: 25px;
  display: inline-block;
}

.side-nav .navigation .navbar-nav .nav-item .nav-link .icon-box img {
  width: 100%;
  height: 100%;
}

.side-nav .navigation .navbar-nav .nav-item .nav-link span {
  font-size: 16px;
  font-weight: 500;
  color: #111111;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.side-nav .navigation .navbar-nav .nav-item .nav-link.active {
  background-color: #0B6DDE;
}

.side-nav .navigation .navbar-nav .nav-item .nav-link.active .icon-box img {
  -webkit-filter: brightness(5);
          filter: brightness(5);
}

.side-nav .navigation .navbar-nav .nav-item .nav-link.active span {
  color: #fff;
}

.side-nav .navigation .navbar-nav .nav-item .nav-link .noti-number {
  width: 26px;
  height: 26px;
  background-color: #E5ECF9;
  color: #0B6DDE !important;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  right: 10px;
}

.side-nav .footer {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 60px;
}

.side-nav .footer .actions {
  padding-left: 26px;
  padding-right: 32px;
  margin-bottom: 16px;
}

.side-nav .footer .actions > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.side-nav .footer .actions > ul li a {
  font-size: 16px;
  font-weight: 400;
  color: #111111;
  height: 25px;
  border-right: 1px solid #E2E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-nav .footer .actions > ul li a img {
  margin-right: 8px;
}

.side-nav .footer .actions > ul li a.logout, .side-nav .footer .actions > ul li a.lang {
  padding-right: 20px;
  margin-right: 20px;
}

.side-nav .footer .actions > ul li .dropdown-toggle {
  border: none;
}

.side-nav .footer .actions > ul li .dropdown-toggle img {
  margin: 0;
  width: 23px;
  height: 23px;
}

.side-nav .footer .actions > ul li .dropdown-toggle::after {
  display: none;
}

.side-nav .footer .actions > ul li .dropdown-menu {
  padding: 13px 12px 20px;
  border: none;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 15px rgba(17, 17, 17, 0.12);
          box-shadow: 0 2px 15px rgba(17, 17, 17, 0.12);
  min-width: 170px;
}

.side-nav .footer .actions > ul li .dropdown-menu .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-nav .footer .actions > ul li .dropdown-menu .title .icon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.side-nav .footer .actions > ul li .dropdown-menu .title .icon img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.side-nav .footer .actions > ul li .dropdown-menu .title span {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #111111;
  display: block;
}

.side-nav .footer .actions > ul li .dropdown-menu .dropdown-item {
  border: 0;
  font-size: 14px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 9px;
  padding: 0;
}

.side-nav .footer .actions > ul li .dropdown-menu .dropdown-item span {
  width: 16px;
  height: 16px;
  border: 2px solid #0B6DDE;
  display: block;
  margin-right: 10px;
  position: relative;
  border-radius: 50%;
}

.side-nav .footer .actions > ul li .dropdown-menu .dropdown-item.disabled {
  opacity: .6;
  pointer-events: none;
  cursor: not-allowed;
}

.side-nav .footer .actions > ul li .dropdown-menu .dropdown-item.selected span::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 8px;
  height: 8px;
  background-color: #0B6DDE;
  border-radius: 50%;
}

.side-nav .footer .actions > ul li .dropdown-menu .dropdown-divider {
  border: 1px solid #E4E9F1;
  margin: 10px 0;
  opacity: 1;
}

.side-nav .footer .actions > ul li .dropdown-menu::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 13px;
  background-image: url(../images/dropdown-Polygon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -10px;
  -webkit-filter: drop-shadow(0px 2px 15px rgba(17, 17, 17, 0.12));
          filter: drop-shadow(0px 2px 15px rgba(17, 17, 17, 0.12));
  opacity: .8;
}

.side-nav .footer .footer-data {
  padding-left: 26px;
  border-top: 1px solid #E8E9EB;
  padding-top: 13px;
}

.side-nav .footer .footer-data .name {
  font-size: 14px;
  font-weight: 600;
  color: #0B6DDE;
  line-height: 20px;
  margin-bottom: 3px;
}

.side-nav .footer .footer-data .rights {
  font-size: 12px;
  font-weight: 400;
  color: #888888;
}

.side-nav.opened {
  left: 0;
}

.header {
  padding-left: 16px;
  padding-right: 30px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 10px rgba(19, 22, 33, 0.07);
          box-shadow: 1px 1px 10px rgba(19, 22, 33, 0.07);
  height: 65px;
  position: fixed;
  right: 0;
  top: 0;
  width: inherit;
  z-index: 999;
}

.header h3 {
  font-size: 18px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 0;
}

.header .right-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header .right-sec .setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 10px 20px;
  border-left: 1px solid #E8E9EB;
}

.header .right-sec .notifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 10px 20px;
  border-left: 1px solid #E8E9EB;
  position: relative;
}

.header .right-sec .notifications span {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #E82536;
  color: #fff;
  font-size: 10px;
  right: -10px;
  top: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.header .right-sec .notifications .notifications-dropdown::after {
  display: none;
}

.header .right-sec .notifications .more-dropdown::after {
  display: none;
}

.header .right-sec .notifications .dropdown-menu {
  width: 311px;
  height: 291px;
  padding: 13px 10px 11px;
}

.header .right-sec .notifications .dropdown-top-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.header .right-sec .notifications .dropdown-top-sec h4 {
  font-size: 16px;
  font-weight: 600;
  color: #111111;
  margin: 0;
}

.header .right-sec .notifications .dropdown-top-sec .dropdown a {
  width: 24px;
  height: 24px;
  background-color: #E6E9EF;
  border-radius: 50%;
  padding: 0 5px;
}

.header .right-sec .notifications .dropdown-top-sec .dropdown a img {
  width: 13px;
  height: 13px;
}

.header .right-sec .notifications .nav-tabs {
  border: 0;
  margin-bottom: 15px;
}

.header .right-sec .notifications .nav-tabs .nav-item .nav-link {
  border: 0;
  font-size: 14px;
  color: #62697A;
  margin-right: 10px;
  padding: 5px 8px;
}

.header .right-sec .notifications .nav-tabs .nav-item .nav-link.active {
  background-color: #E6E9EF;
  border-radius: 6px;
}

.header .right-sec .notifications .nav-tabs .nav-item:last-child .nav-link {
  margin-right: 0;
}

.header .right-sec .notifications .nav-tabs .last {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: auto;
}

.header .right-sec .notifications .nav-tabs .last .see-all {
  font-size: 14px;
  color: #0B6DDE;
  text-decoration: underline;
}

.header .right-sec .notifications .new-notification {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #E5E5E5;
  margin-left: 13px;
  position: relative;
}

.header .right-sec .notifications .new-notification:last-child {
  border-bottom: 0;
}

.header .right-sec .notifications .new-notification .title {
  font-size: 14px;
  font-weight: 500;
  color: #888888;
}

.header .right-sec .notifications .new-notification .date-time p {
  position: unset;
  font-size: 12px;
  color: #BCBCBC;
  margin: 2px 5px;
  margin-bottom: 0;
  display: inline-block;
}

.header .right-sec .notifications .new-notification.unread .title {
  color: #111111;
}

.header .right-sec .notifications .new-notification.unread::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #0B6DDE;
  border-radius: 50%;
  position: absolute;
  left: -13px;
  top: 7px;
}

.header .right-sec .user-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-left: 16px;
  border-left: 1px solid #E8E9EB;
}

.header .right-sec .user-section .user-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border: 0;
  background-color: transparent;
}

.header .right-sec .user-section .user-dropdown::after {
  border: 0;
  background-image: url(../images/user-dropdown-arr.svg);
  width: 13px;
  height: 8px;
}

.header .right-sec .user-section .img-box {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
}

.header .right-sec .user-section .img-box img {
  width: 100%;
  height: 100%;
}

.header .right-sec .user-section .details {
  text-align: left;
  width: 140px;
}

.header .right-sec .user-section .details .name {
  font-size: 14px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 5px;
}

.header .right-sec .user-section .details .title {
  font-size: 12px;
  color: #888888;
}

.content-sec {
  padding-left: 40px;
  padding-right: 25px;
  max-width: 100%;
  padding-bottom: 60px;
}

.content-sec .breadcrumb {
  margin-top: 35px;
  margin-bottom: 45px;
}

.content-sec .breadcrumb .title {
  font-size: 40px;
  font-weight: 600;
  color: #111111;
}

.cards-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}

.cards-section .card {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 25px rgba(17, 17, 17, 0.07);
          box-shadow: 0 2px 25px rgba(17, 17, 17, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 345px;
  height: 170px;
  padding: 25px 38px 17px;
  border-radius: 0;
  border: 0;
}

.cards-section .card .name {
  font-size: 16px;
  font-weight: 500;
  color: #111111;
  margin-bottom: 15px;
}

.cards-section .card .number-with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-section .card .number-with-icon .num {
  font-size: 50px;
  font-weight: 600;
  line-height: 70px;
}

.cards-section .card .number-with-icon .icon-box {
  width: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 50%;
}

.cards-section .card .number-with-icon .icon-box img {
  width: 100%;
  height: 100%;
}

.cards-section .card .sec-details p {
  font-size: 12px;
  color: #888888;
}

.cards-section .card .sec-details p span {
  font-weight: 500;
  padding-left: 13px;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: left center;
}

.cards-section .card .sec-details p span.increase {
  color: #45BF55;
  background-image: url(../images/arr-up.svg);
}

.cards-section .card .sec-details p span.decrease {
  color: #E82536;
  background-image: url(../images/arr-down.svg);
}

.cards-section .card.card1 .number-with-icon .num {
  color: #0B6DDE;
}

.cards-section .card.card1 .number-with-icon .icon-box {
  background-color: #EAF1F8;
}

.cards-section .card.card2 .number-with-icon .num {
  color: #6345C8;
}

.cards-section .card.card2 .number-with-icon .icon-box {
  background-color: #E0DBF2;
}

.cards-section .card.card3 .number-with-icon .num {
  color: #45BF55;
}

.cards-section .card.card3 .number-with-icon .icon-box {
  background-color: #E3F8E5;
}

.cards-section .card.card4 .number-with-icon .num {
  color: #F24D5B;
}

.cards-section .card.card4 .number-with-icon .icon-box {
  background-color: #FDE2E4;
}

.cards-section.admin-cards .card.card4 .number-with-icon .num {
  color: #39AAE3;
}

.cards-section.admin-cards .card.card4 .number-with-icon .icon-box {
  background-color: #DAF0FB;
}

.table-sec .white-card .top-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}

.table-sec .white-card .top-sec h3 {
  font-size: 25px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 0;
}

.table-sec .white-card .home-table table thead {
  border-bottom: 2px solid #E8EAF3;
}

.table-sec .white-card .home-table table thead th {
  height: 54px;
  background-color: #F6F8FB;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #0E58AE;
  vertical-align: middle;
}

.table-sec .white-card .home-table table tbody th, .table-sec .white-card .home-table table tbody td {
  font-size: 16px;
  color: #111111;
  border: none;
  height: 54px;
  vertical-align: middle;
}

.table-sec .white-card .home-table table tbody th .status span, .table-sec .white-card .home-table table tbody td .status span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 7px;
  display: inline-block;
  vertical-align: middle;
}

.table-sec .white-card .home-table table tbody th .status p, .table-sec .white-card .home-table table tbody td .status p {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.table-sec .white-card .home-table table tbody th .status.new p, .table-sec .white-card .home-table table tbody td .status.new p {
  color: #3D87DD;
}

.table-sec .white-card .home-table table tbody th .status.new span, .table-sec .white-card .home-table table tbody td .status.new span {
  background-color: #3D87DD;
}

.table-sec .white-card .home-table table tbody th .status.late p, .table-sec .white-card .home-table table tbody td .status.late p {
  color: #F24D5B;
}

.table-sec .white-card .home-table table tbody th .status.late span, .table-sec .white-card .home-table table tbody td .status.late span {
  background-color: #F24D5B;
}

.table-sec .white-card .home-table table tbody th .status.done p, .table-sec .white-card .home-table table tbody td .status.done p {
  color: #44C055;
}

.table-sec .white-card .home-table table tbody th .status.done span, .table-sec .white-card .home-table table tbody td .status.done span {
  background-color: #44C055;
}

.table-sec .white-card .home-table table tbody th .status.near p, .table-sec .white-card .home-table table tbody td .status.near p {
  color: #FF9D00;
}

.table-sec .white-card .home-table table tbody th .status.near span, .table-sec .white-card .home-table table tbody td .status.near span {
  background-color: #FF9D00;
}

.table-sec .white-card .home-table table tbody th .admin-status span, .table-sec .white-card .home-table table tbody td .admin-status span {
  width: 18px;
  height: 12px;
  margin-right: 3px;
  display: inline-block;
  vertical-align: middle;
}

.table-sec .white-card .home-table table tbody th .admin-status p, .table-sec .white-card .home-table table tbody td .admin-status p {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.table-sec .white-card .home-table table tbody th .admin-status.active p, .table-sec .white-card .home-table table tbody td .admin-status.active p {
  color: #3E87DD;
}

.table-sec .white-card .home-table table tbody th .admin-status.active span, .table-sec .white-card .home-table table tbody td .admin-status.active span {
  background-image: url(../images/active-ic.svg);
}

.table-sec .white-card .home-table table tbody th .admin-status.disabled p, .table-sec .white-card .home-table table tbody td .admin-status.disabled p {
  color: #98A1B4;
}

.table-sec .white-card .home-table table tbody th .admin-status.disabled span, .table-sec .white-card .home-table table tbody td .admin-status.disabled span {
  background-image: url(../images/disabled-ic.svg);
}

.table-sec .white-card .home-table table tbody th .adminFormStatus span, .table-sec .white-card .home-table table tbody td .adminFormStatus span {
  width: 8px;
  height: 8px;
  margin-right: 7px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}

.table-sec .white-card .home-table table tbody th .adminFormStatus p, .table-sec .white-card .home-table table tbody td .adminFormStatus p {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.table-sec .white-card .home-table table tbody th .adminFormStatus.Competed p, .table-sec .white-card .home-table table tbody td .adminFormStatus.Competed p {
  color: #44C055;
}

.table-sec .white-card .home-table table tbody th .adminFormStatus.Competed span, .table-sec .white-card .home-table table tbody td .adminFormStatus.Competed span {
  background-color: #44C055;
}

.table-sec .white-card .home-table table tbody th .adminFormStatus.Uncompleted p, .table-sec .white-card .home-table table tbody td .adminFormStatus.Uncompleted p {
  color: #F24D5B;
}

.table-sec .white-card .home-table table tbody th .adminFormStatus.Uncompleted span, .table-sec .white-card .home-table table tbody td .adminFormStatus.Uncompleted span {
  background-color: #F24D5B;
}

.table-sec .white-card .home-table table tbody th .tools-with-desc, .table-sec .white-card .home-table table tbody td .tools-with-desc {
  font-size: 16px;
  color: #111111;
  display: inline-block;
  margin-right: 35px;
}

.table-sec .white-card .home-table table tbody th .tools-with-desc img, .table-sec .white-card .home-table table tbody td .tools-with-desc img {
  margin-right: 3px;
  width: 30px;
  height: 30px;
}

.table-sec .white-card .home-table .pagination {
  margin-bottom: 0;
  margin-top: 30px;
}

.table-sec .white-card .home-table .pagination li .page-link {
  border: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #98A1B4;
  width: 22px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  margin-right: 2px;
}

.table-sec .white-card .home-table .pagination li .page-link.active {
  color: #fff;
  background-color: #0B6DDE;
  width: 28px;
  font-weight: 600;
}

.table-sec .white-card .home-table .pagination li.page-first .page-link, .table-sec .white-card .home-table .pagination li.page-last .page-link {
  border: 1px solid #98A1B4;
  border-radius: 10px;
  height: 28px;
  width: 38px;
  background-color: transparent !important;
}

.table-sec .white-card .home-table .pagination li.page-first {
  margin-right: 8px;
}

.table-sec .white-card .home-table .pagination li.page-last {
  margin-left: 8px;
}

.table-sec .white-card .home-table .pagination li.prev-next .page-link {
  width: auto;
  background-color: transparent !important;
}

.table-sec .white-card .home-table .pagination li.prev-next.prev {
  margin-right: 45px;
}

.table-sec .white-card .home-table .pagination li.prev-next.next {
  margin-left: 45px;
}

.table-sec .white-card .search-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}

.table-sec .white-card .search-sec label {
  font-size: 15px;
  font-weight: 600;
  color: #111111;
  margin-right: 17px;
}

.table-sec .white-card .search-sec .form-control {
  font-size: 15px;
  font-weight: 400;
  color: #888888;
  line-height: 23px;
  background-color: #F2F3F5;
  height: 44px;
  border: none;
  border-radius: 4px;
}

.table-sec .white-card .search-sec .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 35px;
}

.table-sec .white-card .search-sec .search-box .search-input {
  width: 270px;
  background-image: url(../images/Icons-Actions-ic-actions-search.svg);
  background-repeat: no-repeat;
  background-position: 95% center;
  padding-right: 35px;
}

.table-sec .white-card .search-sec .select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 35px;
}

.table-sec .white-card .search-sec .select-box select {
  width: 240px;
  background-image: url(../images/Icons-Chevron-ic-chevron-down.svg);
  background-size: 25px;
  padding-right: 35px;
}

.table-sec .white-card .search-sec .primary-btn {
  margin-right: 0;
  margin-left: auto;
}

.table-sec .table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: #fff
  ;
}

.table-sec .table-striped > tbody > tr:nth-of-type(even) {
  --bs-table-accent-bg: #F5F5F9
  ;
}

.table-sec .selected-row {
  --bs-table-accent-bg: #CBE2FC !important
  ;
}

.table-sec tr td:first-of-type {
  padding-left: 30px;
}

.form-sec .white-card {
  padding: 30px 30px 40px;
  margin-top: 40px;
}

.form-sec .white-card .top-sec {
  margin-bottom: 47px;
}

.form-sec .white-card .top-sec h3 {
  font-size: 25px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 0;
}

.form-sec .white-card .form .row .col-lg-6:nth-child(odd) {
  padding-right: 27px;
}

.form-sec .white-card .form .row .col-lg-6:nth-child(even) {
  padding-left: 27px;
}

.form-sec .invalid-feedback {
  font-size: 11px;
  margin-top: 2px;
  color: #C41414;
}

form label {
  font-size: 14px;
  font-weight: 600;
  color: #111111;
  line-height: 20px;
  margin-bottom: 5px !important;
}

form label.required {
  position: relative;
}

form label.required::after {
  content: "*";
  margin-left: 5px;
  color: #C41D2C;
}

form .form-control {
  font-size: 16px;
  font-weight: 400;
  color: #888888;
  line-height: 23px;
  background-color: #fff;
  height: 48px;
  border: 2px solid #CDD1D9 !important;
  border-radius: 4px;
  padding: 13px 16px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

form .form-control:disabled, form .form-control[readonly] {
  background-color: #E9E9E9;
  color: #BCBCBC;
}

form .form-control[type="date"] {
  position: relative;
  padding-right: 35px;
}

form .form-control[type="date"]::-webkit-calendar-picker-indicator {
  background: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

form .form-control[type="date"]:before {
  content: "";
  color: transparent;
  background: none;
  display: block;
  background-image: url(../images/calendar.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /* This is the calendar icon in FontAwesome */
  width: 18px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 12px;
}

form .form-control:focus {
  border-color: #0B6DDE !important;
}

form select.form-select {
  background-image: url(../images/Icons-Chevron-ic-chevron-down.svg);
  background-size: 25px;
  padding-right: 35px !important;
  font-size: 16px;
  font-weight: 400;
  color: #888888;
  line-height: 23px;
  background-color: #fff;
  height: 48px;
  border: 2px solid #CDD1D9 !important;
  border-radius: 4px;
  padding: 13px 16px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

form textarea.form-control {
  height: auto;
}

form .primary-btn {
  margin-bottom: 25px;
}

form .radio-check .form-check {
  display: block;
  position: relative;
  height: 26px;
  padding-left: 22px;
  margin-bottom: 7px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 8px;
}

form .radio-check .form-check label {
  margin-bottom: 0 !important;
}

form .radio-check .form-check label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  height: 16px;
  width: 16px;
  border: 2px solid #0B6DDE;
  border-radius: 50%;
  background-color: transparent;
}

form .radio-check .form-check label::after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0B6DDE;
}

form .radio-check .form-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

form .radio-check .form-check input:checked ~ label::after {
  display: block;
}

form .radio-check .form-check-inline {
  display: inline-block;
  margin-right: 60px;
}

form .checkBox-check .form-check {
  display: block;
  position: relative;
  height: 28px;
  padding-left: 28px;
  margin-bottom: 7px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

form .checkBox-check .form-check label {
  margin-bottom: 0 !important;
}

form .checkBox-check .form-check label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid #0B6DDE;
  background-color: transparent;
}

form .checkBox-check .form-check label::after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid #0B6DDE;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

form .checkBox-check .form-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

form .checkBox-check .form-check input:checked ~ label::after {
  display: block;
}

.modal-content {
  border: 0;
  border-radius: 12px;
  -webkit-box-shadow: 0 2px 24px rgba(17, 17, 17, 0.15);
          box-shadow: 0 2px 24px rgba(17, 17, 17, 0.15);
}

.modal-body {
  padding-top: 30px;
  padding-bottom: 25px;
}

.modal-body .closeModal {
  position: absolute;
  top: 8px;
  right: 11px;
  border: 0;
  background: transparent;
}

.modal-body .success-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-body .success-content .img-box {
  margin-bottom: 20px;
}

.modal-body .success-content .content-box h4 {
  font-size: 14px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 0;
}

.modal-body .delete-content {
  padding: 0 10px;
}

.modal-body .delete-content .content-box h4 {
  font-size: 16px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 40px;
}

.modal-body .delete-content .content-box p {
  font-size: 16px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 40px;
}

.modal-body .delete-content .content-box .confirmation-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-body .delete-content .content-box .confirmation-btns a {
  min-width: 100px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  padding: 13px 24px;
}

.modal-body .delete-content .content-box .confirmation-btns .cancel {
  color: #0B6DDE;
  background-color: transparent;
  margin-right: 15px;
}

.modal-body .delete-content .content-box .confirmation-btns .confirm {
  color: #fff;
  background-color: #BB2929;
}

.white-card.chart-area {
  margin-top: 40px;
}

.white-card.chart-area .top-sec h3 {
  font-size: 25px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 25px;
}

.login {
  max-width: 925px;
  margin: auto;
  margin-top: 60px;
}

.login .white-card {
  padding: 60px 50px 100px;
}

.login .white-card .login-content {
  max-width: 450px;
  margin: 0 auto;
}

.login .white-card .login-content .branding {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .white-card .login-content .branding .logo1 {
  width: 245px;
}

.login .white-card .login-content .branding .logo1 img {
  width: 100%;
}

.login .white-card .login-content .branding .logo2 {
  position: relative;
  padding-left: 20px;
  margin-left: 20px;
  margin-top: 17px;
}

.login .white-card .login-content .branding .logo2 h2 {
  font-size: 25px;
  font-weight: 600;
  color: #0B6DDE;
  margin-bottom: 0;
}

.login .white-card .login-content .branding .logo2::before {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  top: 6px;
  left: 0;
  background-color: #D2D6DE;
}

.login .white-card .top-sec {
  margin-bottom: 35px;
}

.login .white-card .top-sec h3 {
  font-size: 25px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 0;
}

.login .white-card .forget-pass {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .white-card .forget-pass a {
  font-size: 16px;
  font-weight: 600;
  color: #0B6DDE;
  text-decoration: underline;
}

.login .white-card .input-group .input-group-text {
  background-color: transparent;
  border: 2px solid #CDD1D9 !important;
  border-right: 0 !important;
  position: relative;
  border-radius: 4px 0 0 4px;
  padding: 5px 10px;
}

.login .white-card .input-group .input-group-text::after {
  content: "";
  position: absolute;
  right: 1px;
  top: 13px;
  width: 1px;
  height: 17px;
  background-color: #BFC6D4;
}

.login .white-card .input-group .form-control {
  border-left: 0 !important;
  padding-left: 8px;
}

.login .white-card .login-btn .primary-btn {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.form-sec + .table-sec {
  margin-top: 40px;
}

.basicData {
  margin-top: 40px;
}

.basicData .basic-container {
  max-width: 720px;
  margin: 20px auto;
}

.basicData .basic-container .stipper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.basicData .basic-container .stipper .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.basicData .basic-container .stipper .step .number {
  width: 42px;
  height: 42px;
  background-color: #98A1B4;
  color: #fff;
  border-radius: 50%;
  position: relative;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.basicData .basic-container .stipper .step .number::after {
  content: "";
  position: absolute;
  width: 470px;
  height: 2px;
  background-color: #CBD1DE;
  left: calc(100% + 15px);
  top: 50%;
}

.basicData .basic-container .stipper .step .desc {
  font-size: 18px;
  font-weight: 500;
  color: #111111;
  margin-top: 16px;
}

.basicData .basic-container .stipper .step.active .number {
  background-color: #0B6DDE;
}

.basicData .basic-container .stipper .step:last-child .number::after {
  display: none;
}

.basicData .basic-container .form-sec .form-title {
  font-size: 25px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 35px;
}

.basicData .basic-container .form-sec .input-with-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.basicData .basic-container .form-sec .input-with-btn .input-beside-btn {
  width: 100%;
}

.basicData .basic-container .form-sec .input-with-btn .secondary-btn {
  margin-left: 25px;
  min-width: 135px;
  height: 48px;
}

.basicData .basic-container .form-sec .input-with-btn .edit-btn {
  margin-left: 20px;
}

.basicData .basic-container .form-sec .action .checkBox-check .form-check {
  margin-bottom: 16px;
}

.basicData .basic-container .form-sec .action + .action {
  margin-top: 25px;
}

.basicData .basic-container .form-sec .hidden-section {
  height: 0px;
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  display: none;
  margin-top: 50px;
}

.basicData .basic-container .form-sec .hidden-section.show {
  height: auto;
  display: block;
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.basicData .basic-container .form-sec .hidden-section .borderd-fieldset {
  padding: 45px 25px 30px;
  border: 1px solid #DADDE4;
  border-radius: 8px;
  position: relative;
  margin-top: 15px;
}

.basicData .basic-container .form-sec .hidden-section .borderd-fieldset h3 {
  font-size: 20px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 0;
  position: absolute;
  top: -19px;
  left: 17px;
  background-color: #fff;
  padding: 5px 12px;
}

.basicData .basic-container .form-sec .btns-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.basicData .basic-container .form-sec .primary-btn {
  margin-bottom: 0;
  padding: 13px 24px 12px;
}

.basicData .basic-container .form-sec .primary-btn img {
  margin-left: 45px;
  width: 6px;
  height: 12px;
}

#conditionsModal .modal-dialog {
  max-width: 855px;
}

#conditionsModal .modal-body {
  padding: 30px 22px 40px;
}

#conditionsModal .modal-body .closeModal {
  top: 25px;
  right: 25px;
}

#conditionsModal .Modal-header h4 {
  font-size: 16px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 35px;
}

#conditionsModal .content-box table thead {
  background-color: #F1F2F5;
}

#conditionsModal .content-box table thead th {
  font-size: 16px;
  font-weight: 600;
  color: #0E58AE;
  border-color: #FFFFFF;
  border-right: 1px solid #FFFFFF;
  padding: 15px 10px 14px;
}

#conditionsModal .content-box table tbody .delete-row {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#conditionsModal .content-box table tbody tr:nth-of-type(odd) {
  --bs-table-accent-bg: #fff;
}

#conditionsModal .content-box table tbody tr:nth-of-type(even) {
  --bs-table-accent-bg: #F5F5F9;
}

#conditionsModal .content-box table tbody tr td {
  border: 0;
}

#conditionsModal .addRow {
  margin-top: 15px;
}

#conditionsModal .btns-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 45px;
}

#conditionsModal .btns-area .cancel {
  padding: 13px 24px 11px;
  height: 48px;
  margin-right: 15px;
  font-size: 16px;
  font-weight: 600;
  color: #0B6DDE;
}

.request-created {
  margin-top: 100px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #E0E3E9;
  border-radius: 16px;
  padding: 35px 50px 40px;
}

.request-created .img-box {
  width: 95px;
  height: 95px;
  padding: 9px;
  margin-bottom: 28px;
}

.request-created .img-box img {
  width: 100%;
  height: 100%;
}

.request-created .content-box {
  margin-bottom: 40px;
}

.request-created .content-box h3 {
  font-size: 22px;
  color: #111111;
  font-weight: 400;
  line-height: 32px;
}

.request-created .content-box h3 span {
  font-weight: 600;
  display: block;
}

.request-created .btns-box .primary-btn {
  margin-bottom: 16px;
}

@media (min-width: 1400px) {
  .container, .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1640px;
  }
}
/*# sourceMappingURL=styleLTR.css.map */